# =======================
# Flutter
# =======================
.dart_tool/
.packages
.pub/
build/
*.iml
*.lock
flutter_*.log
*.dart_tool

# =======================
# Firebase
# =======================
google-services.json
GoogleService-Info.plist
firebase-debug.log
.firebase/
.env
*.local

# =======================
# OS
# =======================
.DS_Store
Thumbs.db
*.swp
*.swo

# =======================
# Editors
# =======================
.vscode/
.idea/
*.code-workspace

# =======================
# Node / Cloud Functions
# =======================
node_modules/
functions/node_modules/

# =======================
# Misc
# =======================
*.log
*.pid
*.seed
*.pid.lock
coverage/
