# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Node / build
node_modules/
dist/
build/

# Secrets / Firebase (لاحقاً)
.env
*.local
google-services.json
GoogleService-Info.plist
firebase-debug.log
